*.inl
*.lo
*.la
*.o
*.pc
*.pyc
Makefile
Makefile.in
.deps
.libs
*.m4
autom4te.cache
libtool
configure
config.guess
config.status
config.h
config.h.in
config.sub
config.log
depcomp
install-sh
ltmain.sh
missing
VERSION
stamp-h1
odf_tokens.txt
ooxml_opc_tokens.txt
ooxml_tokens.txt
src/liborcus/pre/gen

liborcus-test-xml-map-tree
orcus-csv
orcus-format-xml
orcus-ods
orcus-test-common
orcus-test-csv
orcus-test-xml
orcus-test-xml-mapped
orcus-xlsx
orcus-xml
