*.lo
*.la
*.o
*.pc
*.pyc
Makefile
Makefile.in
.deps
.libs
aclocal.m4
autom4te.cache
libtool
configure
config.guess
config.status
config.h
config.h.in
config.sub
config.log
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
VERSION
stamp-h1
